@import url('https://fonts.googleapis.com/css?family=Teko');

body{
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
}

#main{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#ground{
    background: #5c94fc;
    position: absolute;
    height: 100vh;
    bottom: 0;
    left: 0;
    min-width: 120vw;
}

#movingwater{
    width: max-content;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#loading{
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../img/wait/loading.png") black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#mountain {
    position: fixed;
    float: bottom;
    bottom: 0;
    height: 950px;
}

#bg{
    position: fixed;
    float: bottom;
    bottom: 0;
    height: 950px;
}

#water {
    height: 830px;
    margin: 135px 0;
    width: 1920px;
    position: absolute;
    bottom: 0;
}

#scrollScore{
    width: max-content;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
}

#text{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: 100vh;
    padding: 10px;
    background: none;
}
#text > section{
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.box{
    width: 69px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

#bob{
    position: absolute;
    bottom: 135.5px;
    left: 400px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url("../img/stand.png");
    background-size: contain;
    background-position: center;

}

.grass{
    bottom: 0;
    height: 100px;
    width: 800px;
    background: green;
    background-image: linear-gradient(lightgreen,green, green);
    position: absolute;
}