@import url('https://fonts.googleapis.com/css?family=Teko');

body{
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#main{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#ground{
    overflow: hidden;
    background: #0021e7;
    position: absolute;
    height: 100vh;
    bottom: 0;
    left: 0;
    min-width: 120vw;
}


#loading{
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../img/wait/loading.png") black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.standing{
    background: url("../img/stand.png") no-repeat center !important;
    background-size: contain !important;
}

.boxUP, .boxUP2{
    content: url("../img/used-box.png");
}

.boxUP {
    transform: scale(1.5) translate(0,-9px);
}

#mountain {
    background: url('../img/backgroundParallax2.png');
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    height: 400px;
    bottom: 234px;
    left: 0;
    min-width: 120vw;
}

#mountain2 {
    background: url('../img/mountain-2.png');
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    height: 400px;
    bottom: 234px;
    left: 0;
    min-width: 120vw;
    display: none;
}

#ice {
    background: url('../img/ice.png');
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    height: 100px;
    bottom: 135px;
    left: 0;
    min-width: 120vw;
}

#bg{
    position: fixed;
    float: bottom;
    bottom: 0;
    height: 950px;
}

#water {
    height: 830px;
    margin: 135px 0;
    width: 1920px;
    position: absolute;
    bottom: 0;
}

#scrollScore{
    width: max-content;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
}

#text{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: 100vh;
    padding: 10px;
    background: none;
}
#text > section{
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.box{
    width: 68px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0.4px;
    margin-left: 2px;
    z-index: 1;
}

#bob{
    position: absolute;
    bottom: 135.5px;
    left: 650px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url("../img/stand.png");
    background-size: contain;
    background-position: center;
}

#bear{
    position: absolute;
    bottom: 135.5px;
    left: 8000px;
    width: 116px;
    height: 80px;
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-image: url(../img/icebear.png);
    background-size: contain;
    background-position: center;
    z-index: 1;
}

#car{
    position: absolute;
    bottom: 135.5px;
    left: 1400px;
    width: 290px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(../img/car.png);
    background-size: contain;
    background-position: center;
    z-index: 1;
}

#begintext {
    position: absolute;
    left: 600px;
    font-size: 80px;
    bottom: 504px;
    transition: all .5s linear;
    text-align: center;
}

#begintext.begonetext {
    opacity: 0;
}

.grass{
    bottom: 0;
    height: 100px;
    width: 800px;
    background: green;
    background-image: linear-gradient(lightgreen,green, green);
    position: absolute;
}

#box4, #box5 {
    display: none;
}

section {
    font-size: 25px;
}